<div>
        <div class="first-page-heading navtext">
            <footer class="row mx-5">
                <ul>
                    <h3 class = "footertext">
                        Developed by-
                    </h3>
                    <li type="none">
                        Sanskar jain
                    </li>
                    <li type="none">
                        Prashant Saxena
                    </li>
                    <li type="none">
                        Abhishek Roniyar
                    </li>
                </ul>
                <ul>
                    <p class = "text-light navtext my-5" style="margin-left: 12em;font-size:large;"> 
                        A SHARDA UNIVERSITY PROJECT
                    </p>
                </ul>
                <ul style="margin-left: 5em;">
                    <h3 class = "footertext" >
                        Submitted To-
                    </h3>
                    <li type="none">
                        Mr. Manish Verma
                    </li>
                </ul>
            </footer>
        </div>  
        
</div>
    
</div>
</body>
<script src = "/reload/reload.js"></script>
</html>